/* *{
    
    border: red 1px solid;
} */
.cardcontainer{
    display: flex;
    flex-direction: column;
    width: 150px;
    box-shadow: 0 3px 13px 1px rgba(0, 0, 0, 0.295);
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.253);
    font-size: 14px;
    color:white;
    animation: fadeIn 0.55s;
    height: 250px;
    animation: all 250ms;
    justify-content:space-between;
    margin-top: 50px;
  }
  .cardcontainer:hover{                     
    scale: 101%;  
    animation: all 250ms;        
  }
.flag{
    width: 150px;
    height: auto;
}
/* .text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
} */
.name {
    margin-top: 0px;
    font-size: 12px;
}
.continent{
    display: flex;
    justify-content: center;
    align-content: flex-end;
    float: inline-end;
    
}

