.container{
    margin-top: 9px;
    display: flex;
}
.imputext{
    height: 66px;
    width: 300px;
    border-color: transparent;
    box-shadow: 0 3px 13px 1px rgb(0 0 0/9%);
    background-color: rgba(255, 255, 255, 0.356);
    color: black;
    font-size: 22px;
}
.btn-reload,.btn-clean{
    background-color: rgba(255, 255, 255, 0.356);
    color:black;
    border-color: transparent;
    border-width: 2px;
    width: 77px;
    box-shadow: 0 3px 13px 1px rgb(0 0 0/9%);
    float: right;
    height: 72px;
    cursor:pointer;
    transition: all 250ms; 
}
.container-reload{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-reload:hover,.btn-clean:hover{
    scale: 95%;
    transition: all 250ms;  
}